# Project exclude paths
/venv/
.env
/cardiffnlp/
/web_scrapping/output/
lid.176.bin
lid.176.ftz
LICENSE
README(to put in README).md
/geckodriver.log
/web_scrapping/reddit_api_old.py
/web_scrapping/stocktwits_api_old.py
/sentiment_analysis/twits_analysis_old.py
/web_scrapping/twitter_api_old.py
automation.sh
/output/
chromedriver